.hidden {
 	display:none; 
}

.block-visible {
 	display:block; 
}

.panel {
	background-color: #FFFFFF;
}

.closeable {
   position: relative 
}

.close-gadget 
{ 
   position: absolute; 
   right: 5px; 
   top: 5px;
} 