body {
    height: 100%;
    margin: 0;
    color: rgb(51, 51, 51);
    font-family: EgyptianText, Georgia, serif;
    font-size: 16px;
}

a {
    color: inherit;
}

pre {
    display: block;
    overflow: scroll;
    background: #f4f4ee;
}

code {
    background: #f4f4ee;
    vertical-align: baseline;
    padding: 0 3px;
    font-family: Consolas, Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console';
    overflow: scroll;
    font-size: 14px;
}

header {
    background-color: rgb(41, 32, 87);
}

header .logo {
    margin: 2% 10px;
    width: 30%;
    min-width: 175px;
}

h1 {
    max-width: 960px;
    margin: 0 auto;
    text-align: right;
}

header span {
    background: rgba(255, 255, 255, 0.2);
    display: block;
}

header h2 {
    max-width: 960px;
    margin: 0 auto;
    padding: 5px 10px;
    color: white;
    font-family: EgyptianText, Georgia, serif;
    font-size: 24px;
}

nav {
    background: rgba(255, 255, 255, 0.5);
    text-transform: lowercase;
    font-size: 16px;
    font-family: EgyptianHeadline, Georgia, serif;
}

nav ul {
    max-width: 960px;
    margin: 0 auto;
    padding: 8px 10px;
}

nav li {
    display: inline;
    margin-right: 16px;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

h3 {
    max-width: 960px;
    margin: 30px auto;
    padding: 0 10px;
    font-family: EgyptianHeadline, Georgia, serif;
    font-size: 43px;
    font-weight: normal;
}

h4 {
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 18px;
}

.keybox:nth-of-type(1) h4 {
    background-color: rgb(2, 199, 225);
}

.keybox:nth-of-type(2) h4 {
    background-color: rgb(0, 86, 137);
}

p, ul, code, pre, table {
    max-width: 960px;
    margin: 10px auto;
    padding: 0 10px;
}

.keybox-container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 10px;
}

.keybox {
    display: inline-block;
    margin: 10px;
    width: calc(50% - 20px);
    min-width: 300px;
    background-color: rgb(241, 241, 241);
}

.keybox ul {
    padding-left: 40px;
}

body.index {
    background: url('kings-place.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
}

body.index > header {
    background-color: rgba(41, 32, 87, 0.8);
}

body.index h2 {
    width: 45%;
    margin: 60px 0 175px 0;
    padding: 20px;
    background-color: rgba(41, 32, 87, 0.8);
    color: white;
    font-size: 36px;
    font-weight: normal;
    text-align: right;
}

body.index > p {
    max-width: 960px;
    margin: 0 auto;
    padding: 25px;
    background-color: white;
    line-height: 1.15;
}

footer {
    background: #333;
    margin-top: 150px;
    padding: 20px 0;
    font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 13px;
    color: rgb(220, 220, 220);
}

footer p {
    max-width: 960px;
    margin: 0 auto;
}
