

#developer, #commercial {
    display: none;
    width: 100%;
    margin: 0 auto;
}


.box {
    border: 3px solid #FFFFFF;
    display: block;
    color: black;
    padding:0px;
    margin-top:20px;
    margin-bottom:20px;
}
#boxes p
{
     text-align: left;
}

.box-grey
{
     background-color: #fafafa;
}

.box ul
{
    background-color: #f6f6f6;
}

.box.selectable {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;

}

.box.selectable h1 {
    text-align: center;
}


.box.selectable:hover ul {
    background-color: #eaeaea;
}

.box.selectable.featured ul:hover {
    background-color: #eaeaea;
}

.box.padded {
    padding: 15px;
}

.box h1 {
    font-size: 21px;
    background-color: #005689;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.box.selectable h1 {
    font-size: 16pt;
    background-color: #4bc6df;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.box.selectable.featured h1 {
    background-color: #951c55;
}

.box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    font-size: 11pt;
}

.box ul li {
    color: #777;
    line-height: 20px;
    padding: 15px;
    text-align: left;
    white-space: normal;
}

.button {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Source Sans Pro',sans-serif;
    color: #fff;
    background-color: #4bc6df;
    border: 0;
    width: 100%;
}

.button {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Source Sans Pro',sans-serif;
    color: #fff;
    background-color: #4bc6df;
    border: 0;
    width: 100%;
}

.button {
    color: #fff;
    background-color: #CCCCCC;
}

.button:enabled {
    color: #fff;
    background-color: #4bc6df;
}

.button:hover:enabled {
    background: #005689;
    color: #FFFFFF;
}

.link {
    text-decoration: underline;
}

.form {
    text-align: left;
    font-size: 9pt;
    width: 100%;
}

.form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}


.form input, .form textarea {
    display: block;
    letter-spacing: 2px;
    color: #666666;
    margin-top: 0px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #FFFFFF;
    font-size: 10pt;
    padding:6px;
}

.head {
    font-size: 10pt;
    text-align: center;
}

#form-submission-failed, #form-submission-succeed {
    display: none;
}

span.big {
    display:block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
