#container {
    width:70%;
    margin: 0 auto;
    text-align: center;
}

#developer, #commercial {
    display: none;
    width: 70%;
    margin: 0 auto;
}


.box {
    background-color: #f6f6f6;
    border: 3px solid #FFFFFF;
    display: block;
    color: black;
    margin: 3%;
    margin-bottom: 30px;

}

.box.selectable {
    display: inline-block;
    max-width: 320px;
    margin: 3%;
    cursor: pointer;
}

.box.selectable:hover {
    border: 3px solid #4bc6df;
}

.box.padded {
    padding: 30px;
}

.box h1 {
    font-size: 21px;
    background-color: #005689;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    font-size: 11pt;
}

.box ul li {
    color: #777;
    line-height: 20px;
    padding: 15px;
    text-align: left;
    white-space: nowrap;
}

.button {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Source Sans Pro',sans-serif;
    color: #fff;
    background-color: #4bc6df;
    border: 0;
    width: 100%;
}

.button:hover:enabled {
    background: #FFF;
    color: #262626;
}

.link {
    text-decoration: underline;
}

.form {
    text-align: left;
    font-size: 11pt;
    width: 100%;
}

.form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}


.form input, .form textarea {
    display: block;
    letter-spacing: 2px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #FFFFFF;
    font-size: 11pt;
}

.head {
    font-size: 16px;
    text-align: left;
}

#form-submission-failed, #form-submission-succeed {
    display: none;
}

span.big {
    display:block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
