#container {
    width:90%;
    margin: 0 auto;
    text-align: center;
}

#developer, #commercial {
    display: none;
    width: 70%;
    margin: 0 auto;
}

.box {
    display: inline-block;
    width: 43%;
    max-width: 320px;
    color: black;
    margin: 3%;
    cursor: pointer;
    border: solid rgba(0,0,0,0) 1px;
}

.box:hover {
    border: solid rgba(255,255,255,1) 1px;
    box-shadow: 0 0 1px 1px white;
}

.box h1 {
    font-size: 21px;
    background-color: #005689;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    font-size: 13px;
}

.box ul li {
    color: #777;
    line-height: 20px;
    padding: 15px 30px;
    background: #f7f7f7;
    border-bottom: solid 1px #e9e9e9;
    text-align: left;
    white-space: nowrap;
    overflow-x: scroll; 
}

.button {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
    border-color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Source Sans Pro',sans-serif;
}

.button:hover {
    background: #FFF;
    color: #262626;
}

.link {
    text-decoration: underline;
}

.form {
    text-align: center;
    font-size: 12px;
}

.form input {
    padding: 10px;
    letter-spacing: 2px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}

.head {
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

#form-submission-failed, #form-submission-succeed {
    display: none;
}

span.big {
    display:block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}