@charset "UTF-8";

body
{
  background: rgba(51,51,51,0.05);
  font-family: 'Merriweather', serif;
}

/*body.home {
    -webkit-font-smoothing: antialiased;
    background: #262626 url('../img/guardian.jpg') no-repeat center;
    background-position: top;
    background-size: cover;
    color: white;
}*/

.hero.home {
    -webkit-font-smoothing: antialiased;
    background: #262626 url('../img/geek.jpeg') no-repeat center;
    background-position: top;
    background-size: cover;
    color: white;
    height: 750px;
}

h1, h2, h3
{
  font-family: 'Merriweather', serif;
}


body.home h1 {
    font-size: 46px;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

body.home h2 {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

body.home h3 {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.bs-docs-header, .bs-docs-masthead {
  position: relative;
  padding: 30px 15px;
  color: rgb(205, 191, 227);
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
  background-color: rgb(111, 84, 153);
  background-image: linear-gradient(rgb(86, 61, 124) 0px, rgb(111, 84, 153) 100%);
  background-repeat: repeat-x;
}

header
{
  background-color: #005689;
}

header.navbar
{
  margin-bottom: 0px;
  padding: 0px;
}

header .navbar-brand img
{
  height:26px;
  display: inline;
}

header .navbar-brand span
{
  height:26px;
  display: inline;
}

header .navbar-brand:hover
{
  color: #94b1ca;
}

header a
{
  color: #FFFFFF;
}

header .navbar-nav>li>a
{
    padding-bottom: 18px;
    padding-top: 18px;
}

.main
{
    margin-top: 80px;
}

.page
{
    background-color: #FFFFFF;
    padding:20px;
}

.nav.nav-pills.nav-stacked
{
    background-color: #FFFFFF;
}

.nav.nav-pills.nav-stacked li a:hover
{
    border-radius: 0px;
}

.btn {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Source Sans Pro',sans-serif;
    color: #fff;
    background-color: #4bc6df;
    border: 0;
    border-radius: 0px;
}

.btn {
    color: #fff;
    background-color: #CCCCCC;
}

.btn:enabled {
    color: #fff;
    background-color: #4bc6df;
}

.btn:hover:enabled {
    background: #005689;
    color: #FFFFFF;
}

body.home .btn{
    padding: 10px 50px 10px 50px;
}
