@charset "UTF-8";

body
{
  background-color: #f6f6f6;
  font-family: 'Merriweather', serif;
}

.hero.home {
    -webkit-font-smoothing: antialiased;
    background: #262626 url('../img/guardian.jpg') no-repeat center;
    background-position: center;
    background-size: cover;
    color: white;
    height: 750px;
}

.hero-text
{
    margin-top: 180px;
    text-align: center;
}

h1, h2, h3, h4
{
  font-family: 'Merriweather', serif;
  color: #333;
}

h1
{
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h2
{
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 30px;
}

.page h2
{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #eeeeee;
}

.page h3
{
    margin-top: 20px;
    padding-top: 20px;
}

.page h4
{
    margin-top: 20px;
    padding-top: 20px;
}

h3
{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

h4
{
    color:#666666;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.hero.home h1, .hero.home h2, .hero.home h3
{
    color:#FFFFFF;
}

.hero.home h1 {
    font-size: 46px;
    line-height: 54px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero.home h2 {
    font-size: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero.home h3 {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

nav.navbar-default
{
  background-color: #005689;
}

nav.navbar-default.navbar
{
  margin-bottom: 0px;
  padding: 0px;
}

nav.navbar-default a
{
  color: #FFFFFF;
}

nav.navbar-default .navbar-brand 
{
  color: #FFFFFF;
}

nav.navbar-default .navbar-brand img
{
  height:26px;
  display: inline;
}

nav.navbar-default .navbar-brand span
{
  height:26px;
  display: inline;
}

nav.navbar-default .navbar-brand:hover
{
  color: #4bc6df;
}

nav.navbar-default .navbar-nav>li>a
{
    padding-bottom: 18px;
    padding-top: 18px;
    color: #FFFFFF;
}

nav.navbar-default .navbar-nav>li>a:hover
{
    color: #4bc6df;
}

nav.navbar-default .navbar-toggle .icon-bar
{
    background-color: #FFFFFF;
}

.navbar-toggle
{
    border: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00456e;
}

.main
{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f6f6f6;
}

.page
{
    background-color: #FFFFFF;
    padding:10px 30px 10px 30px;
    margin-bottom: 20px;
}

.home .page
{
    margin-bottom: 0px;
    padding:0px;
    background: rgba(51,51,51,0.05);
}

.home .page .container
{
    padding-bottom: 20px;
    border-bottom: 1px solid #4bc6df;
    background-color: #FFFFFF;
}

.home .page .container .col-md-6
{
    padding-left: 50px;
    padding-right: 50px;
}

.home .page .container:last-child
{
    border-bottom: 0px solid #4bc6df;
}

.nav.nav-pills.nav-stacked
{
    background-color: #FFFFFF;
    margin-bottom: 15px;
}

@media (min-width: 950px) {
  .nav.nav-pills.nav-stacked {
    width: 160px;
  }         
}

.nav.nav-pills.nav-stacked li a:hover
{
    border-radius: 0px;
    background-color: #4bc6df;
    color: #FFFFFF;
}

.nav.nav-pills.nav-stacked li a.active
{
    background-color: #005689;
    color: #FFFFFF;
    border-radius: 0px;
}

.btn {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Source Sans Pro',sans-serif;
    color: #fff;
    background-color: #4bc6df;
    border: 0;
    border-radius: 0px;
}

.btn {
    color: #fff;
    background-color: #CCCCCC;
}

.btn:enabled {
    color: #fff;
    background-color: #4bc6df;
}

.btn:hover:enabled {
    background: #005689;
    color: #FFFFFF;
}

body.home .btn{
    padding: 10px 50px 10px 50px;
}

footer
{
    /* color: #aaaaaa;*/
    background-color: #f6f6f6;
    color: #666666;
    font-size: 8pt;
    padding: 20px 10px 20px 10px;
}

footer.home
{
    /* color: #aaaaaa;*/
    background-color: #333333;
    color: #dddddd;
}

pre
{
    padding: 5px;
    background-color: #f8f8ff;
    border: 1px solid #eeeeee;
}

#doccontent a:first
{
    float: right;
    padding-right: 20px;
}

.form input, .form textarea
{
    border-radius: 0px;
    border: 1px solid #cccccc !important;
}

.get-started li
{
    line-height: 2.5;
}

.get-started ol
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-fixed-top
{
    border-width: 0 0 0px;
}

.edit-me
{
    float: right;
    color: #BBBBBB;
    padding: 10px;
    border: 1px solid #eeeeee;
}

code
{
    color: #333333;
}

pre code
{
    font-size: 90%;
}
