@charset "UTF-8";

body
{
  background-color: #f6f6f6;
  font-family: 'Merriweather', serif;
}

/*body.home {
    -webkit-font-smoothing: antialiased;
    background: #262626 url('../img/guardian.jpg') no-repeat center;
    background-position: top;
    background-size: cover;
    color: white;
}*/

.hero.home {
    -webkit-font-smoothing: antialiased;
    background: #262626 url('../img/guardian.jpg') no-repeat center;
    background-position: top;
    background-size: cover;
    color: white;
    height: 750px;
}

.hero-text
{
    margin-top: 180px;
    text-align: center;
}

h1, h2, h3, h4
{
  font-family: 'Merriweather', serif;
  color: #333;
}

h1
{
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h2
{
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 30px;
}

h3
{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

h4
{
    color:#666666;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.hero.home h1, .hero.home h2, .hero.home h3
{
    color:#FFFFFF;
}

.hero.home h1 {
    font-size: 46px;
    line-height: 54px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero.home h2 {
    font-size: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero.home h3 {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.bs-docs-header, .bs-docs-masthead {
  position: relative;
  padding: 30px 15px;
  color: rgb(205, 191, 227);
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
  background-color: rgb(111, 84, 153);
  background-image: linear-gradient(rgb(86, 61, 124) 0px, rgb(111, 84, 153) 100%);
  background-repeat: repeat-x;
}

header
{
  background-color: #005689;
}

header.navbar
{
  margin-bottom: 0px;
  padding: 0px;
}

header .navbar-brand img
{
  height:26px;
  display: inline;
}

header .navbar-brand span
{
  height:26px;
  display: inline;
}

header .navbar-brand:hover
{
  color: #4bc6df;
}

header a
{
  color: #FFFFFF;
}

header .navbar-nav>li>a
{
    padding-bottom: 18px;
    padding-top: 18px;
}

.main
{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
      background-color: #f6f6f6;
}

.page
{
    background-color: #FFFFFF;
    padding:10px 30px 10px 30px;
    margin-bottom: 20px;
}

.home .page
{
    margin-bottom: 0px;
    padding:0px;
    background: rgba(51,51,51,0.05);
}

.home .page .container
{
    padding-bottom: 20px;
    border-bottom: 1px solid #4bc6df;
    background-color: #FFFFFF;
}

.home .page .container .col-md-6
{
    padding-left: 50px;
    padding-right: 50px;
}

.home .page .container:last-child
{
    border-bottom: 0px solid #4bc6df;
}

.nav.nav-pills.nav-stacked
{
    background-color: #FFFFFF;
    margin-bottom: 15px;
}

.nav.nav-pills.nav-stacked li a:hover
{
    border-radius: 0px;
    background-color: #4bc6df;
    color: #FFFFFF;
}

.btn {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Source Sans Pro',sans-serif;
    color: #fff;
    background-color: #4bc6df;
    border: 0;
    border-radius: 0px;
}

.btn {
    color: #fff;
    background-color: #CCCCCC;
}

.btn:enabled {
    color: #fff;
    background-color: #4bc6df;
}

.btn:hover:enabled {
    background: #005689;
    color: #FFFFFF;
}

body.home .btn{
    padding: 10px 50px 10px 50px;
}

footer
{
    /* color: #aaaaaa;*/
    background-color: #f6f6f6;
    color: #666666;
    font-size: 8pt;
    padding: 20px 10px 20px 10px;
}

pre
{
    padding: 5px;
    background-color: #f8f8ff;
    border: 1px solid #eeeeee;
}

#doccontent a:first
{
    float: right;
    padding-right: 20px;
}

.form input, .form textarea
{
    border-radius: 0px;
    border: 1px solid #cccccc !important;
}


