@charset "UTF-8";

body
{
  background-color: #EAE8E3;
  font-family: 'Merriweather', serif;
  color: #484F53;
}

.hero.home {
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url('../img/photo-1460891053196-b9d4d9483d9b.jpeg') no-repeat center;
    background-position: top;
    background-size: cover;
    color: white;
    height: 690px;
}

.hero-text
{
    margin-top: 180px;
    text-align: left;
}

h1, h2, h3, h4
{
  font-family: 'Merriweather', serif;
  color: #484F53;
}

h1
{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
}

h2
{
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 30px;
}

.page h2
{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #eeeeee;
}

.page h3
{
    margin-top: 20px;
    padding-top: 20px;
}

.page h4
{
    margin-top: 20px;
    padding-top: 20px;
}

h3
{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

h4
{
    color:#666666;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.hero.home h1, .hero.home h2, .hero.home h3, .container.full h3
{
    color:#FFFFFF;
}

.hero.home h1 {
    font-size: 40px;
    line-height: 46px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0px;
    font-weight: 800;
}

.page-header
{
    margin-top: 0px;
}

.page-header h1 
{
    font-size: 32px;
    line-height: 36px;
    margin: 0px;
    margin-top: 100px;
    font-weight: 800;
}

.page-header h3.white
{
    color: #FFFFFF;
}

.hero.home h1.blue, .page-header h1 {
    color: #AAD8F1;
}

.hero.home h2 {
    font-size: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero.home h3 {
    font-size: 20px;
    line-height: 28px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.container.full
{
    padding: 60px 0px 60px 0px;
    width: 100%;
}

.container.full h3 {
    font-size: 26px;
    line-height: 28px;
}

.container.blue
{
    background-color: #0D7CAD;
}
.container.light-blue
{
    background-color: #A8D8F2;
}

.container.full .button, .container .button
{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    background: none;
}

.container.blue .button
{
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.container.light-blue .button
{
    color: #0D7CAD;
    border-color: #0D7CAD;
}

.container .button.grey
{
    color: #484F53;
    border-color: #484F53;
}

.container a.button:hover
{
    text-decoration: none;
}

.container.blue a:hover
{
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-decoration: none;
}
.container.light-blue a:hover
{
    color: #0D7CAD;
    border-color: #0D7CAD;
    text-decoration: none;
}

.container.full p 
{
    color: #FFFFFF;
    font-size: 16px;
}

.container.light-blue, .container.full.light-blue h3, .container.light-blue, .container.full.light-blue p, 
{
    color:#0D7CAD;
}

.promo-text
{
    padding: 0px 30px 50px 30px;
}

.promo-text p
{
    padding-bottom: 30px;
}

@media (min-width:768px) 
.promo-text.right
{
    padding-top: 50px;
    margin-left: 40px;
}

.container.light-blue .promo-text p, .container.light-blue .promo-text h3
{
    color: #0D7CAD;
}

.center-align
{
    text-align: center;
}

.row.home-panel:last-child
{
    border-bottom: 0px solid #EEEEEE;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */

@media (min-width:400px) {
    .navbar-wrapper{width:380px; left:10px;}
}

@media (min-width:768px) {
    .navbar-wrapper{width:750px; left:10px;}
}

@media (min-width:992px) {
    .navbar-wrapper{width:970px; left:40px;}
}

@media (min-width:1200px) {
    .navbar-wrapper{width:1170px; left:110px;}
}

.navbar-wrapper {
  position: absolute;
  top: 30px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-toggle {
    border: 0px;
    float: left;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00456e;
}

.navbar-brand {
    float: right;
    position: absolute;
    right: 20px;
    top: 0px;
}

.navbar-brand img {
    height: 25px;
}

.navbar li a {
    color:#FFFFFF;
    font-size: 16px;
    line-height: 16px;
}

.navbar li a:hover {
    color:#FFFFFF;
    background: none;
    border-bottom: 1px solid #FFFFFF;
}

.navbar-collapse.in, .navbar-collapse.collapsing {
    background-color: #0D7CAD;
}

.page {
    padding:30px 0px 0px 0px;
    margin-bottom: 20px;
}

.page.white {
    padding:10px 20px 20px 20px;
    background-color: #FFFFFF;
}

.home .page .row {
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #eee;
    background-color: #FFFFFF;
}

.home .page .row:last-child {
    border-bottom: 0px solid #eee;
}

.home .page .btn {
    padding: 10px 50px 10px 50px;
}

.home .page .col-md-6 {
    padding-right: 30px;
    padding-left: 30px;
}

.nav.nav-pills.nav-stacked {
    background:none;
    margin-bottom: 15px;
    margin-top: 20px;
}

.nav.nav-pills.nav-stacked {
    width: 160px;
}         

.nav.nav-pills.nav-stacked li a, .nav.nav-pills.nav-stacked li a:hover, .nav.nav-pills.nav-stacked li a.active {
    color: #4A5358;
    border-radius: 0px;
    border-bottom: 1px solid #4A5358;
}

.nav.nav-pills.nav-stacked li a:hover {
    border-radius: 0px;
    background-color: #A8D8F2;
    color: #4A5358;
}

.nav.nav-pills.nav-stacked li a.active {
    background-color: #A8D8F2;
    color: #4A5358;
    border-radius: 0px;
}

.btn {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    font-size: 12pt;
    font-family: 'Source Sans Pro',sans-serif;
    color: #fff;
    background-color: #4bc6df;
    border: 0;
    border-radius: 30px;
}

.btn-lg {
    margin-top: 30px;
    font-size: 14pt;
}

.btn-col {
    text-align: center;
    padding-top: 30px;
}


.hero .btn-lg {

    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

.btn.full-width
{
     width: 100%;
}

.btn:enabled {
    color: #fff;
    background-color: #4bc6df;
}

.btn:enabled:hover {
    background: #005689;
    color: #FFFFFF;
}

.btn.inactive {
    color: #fff;
    background-color: #CCCCCC;
}

.btn.inactive:hover:enabled {
    background: #005689;
    color: #FFFFFF;
}

.btn-help
{
    padding: 3px 5px 3px 5px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid #BBBBBB;
    background-color: #FFFFFF;
    color: #BBBBBB;
    display: inline;
    border-radius: 3px;
    font-size: 9pt;
}

.btn-help:hover
{
    color: #666666;
}

footer
{
    /* color: #aaaaaa;*/
    background-color: #484F53;
    color: #D3D3D3;
    font-size: 8pt;
    padding: 20px 10px 20px 10px;
}

footer p
{
    padding-left: 0px;
}

footer a
{
    color: #D3D3D3;
}

footer .navbar li a
{
    float: left;
    font-size: 10pt;
    color: #D3D3D3;
}

footer .navbar
{
    margin-bottom: 10px;
    min-height: 30px;
}

pre
{
    padding: 5px;
    background-color: #f8f8ff;
    border: 1px solid #eeeeee;
}

.form input, .form textarea
{
    border-radius: 0px;
    border: 1px solid #cccccc !important;
}

.get-started li
{
    line-height: 2.5;
}

.get-started ol
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-fixed-top
{
    border-width: 0 0 0px;
}

.edit-me
{
    float: right;
    color: #BBBBBB;
    padding: 10px;
    border: 1px solid #eeeeee;
}

code
{
    color: #333333;
}

pre code
{
    font-size: 90%;
}

.table>thead>tr>th, .table>thead>tr>td,.table>tbody>tr>th, .table>tbody>tr>td
{
    border-top: 1px solid #EEEEEE;
}

.table>thead>tr>th
{
  border-bottom: 1px solid #EEEEEE;
}

.align-right
{
    text-align: right;
}

svg .st0 {
    fill: #FFF;
}

#explorer
{
    height: 100%;
    width: 100%;
}

.page-explorer
{
    height: 1200px;
    width: 100%;
    margin-top: 15px;
}

img.bordered
{
    border-left: 3px solid #0D7CAD;
}

.align-right img.bordered
{
    border-left: none;
    border-right: 3px solid #A8D8F2;
}

.chevron
{
    position: absolute;
    bottom:-90px;
}

.key-choice
{
    margin-bottom: 50px;
}

.key-choice h1.developer
{
    color:#4bc6df;
    line-height: 42px;
    border-bottom: 2px solid #4bc6df;
}

.key-choice h1.commercial
{
    color:#951c55;
    line-height: 42px;
    border-bottom: 2px solid #951c55;
}

.key-choice ul
{
    list-style: square;
    margin-bottom: 50px;
}

.key-choice ul li
{
    margin-left: 0px
    padding: 20px;
}
