
.pushed {
    margin-left: 200px !important;
}

#sidebar {
    background-color: #2479c3;
    height: auto !important;
    width: 200px !important;
    top: 90px !important;
}

#doccontent {
    color: black;
}

#doccontent a{ 
    text-decoration: none !important;
    border-bottom: 1px solid #dcdcdc;
    color: #005689;
    cursor: pointer;
    -webkit-transition: border-color 0.15s ease-out;
    -moz-transition: border-color 0.15s ease-out;
    transition: border-color 0.15s ease-out;
}

#doccontent a:hover, a:focus{ 
    border-color:#6e99b2;
}

.ui.page.grid.container {
    position: relative;
    width: auto;
    margin-right: 28px;
    margin-left: 20px;
    padding: 0;
    height: 100%;
}

.ui.segment {
    border-radius: 0;
}

.ui.popup {
    font-size: .775rem;
}

th .ui.icon.button {
    margin-left: 5px;
    padding: .6em .8em;
}


#doccontent {
    font-size: 14px;
}

#doccontent .ui.ribbon.label {
    text-transform: none;
    background-color: #214583;
    border-color: rgba(33,69,131,.15);
    color: white;
}

#doccontent .ui.ribbon.label a{
    color: white;
    text-decoration: none;
    opacity: 1;
}

#doccontent code {
    background:#f4f4ee;
    vertical-align: baseline;
    padding: 0 3px;
    font-family: Consolas, Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console';
    overflow: scroll;
    font-size: 12px;
}

#doccontent ui.table {
    width: 80%;
}