body {
    -webkit-font-smoothing: antialiased;
    background: black;
    color: white;
}

.landing {
    font-family: 'Source Sans Pro',sans-serif;

}

.landing h1 {
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}