@charset "UTF-8";
@font-face {
  font-family: 'EgyptianHeadline';
  src: url("../fonts/Guardian Egyp Web-Regular.eot");
  src: url("../fonts/Guardian Egyp Web-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Guardian Egyp Web-Regular.woff") format("woff"), url("../fonts/Guardian Egyp Web-Regular.ttf") format("truetype"), url("../fonts/Guardian Egyp Web-Regular.svg#Guardian Egyptian Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'EgyptianText';
  src: url("../fonts/Guardian Text Egyp Web-Reg.woff") format("woff"), url("../fonts/Guardian Text Egyp Web-Reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; 
}

@font-face {
  font-family: 'EgyptianText';
  src: url("../fonts/Guardian Text Egyp Web-Med.woff") format("woff"), url("../fonts/Guardian Text Egyp Web-Med.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'EgyptianText';
  src: url("../fonts/Guardian Text Egyp Web-Reg It.woff") format("woff"), url("../fonts/Guardian Text Egyp Web-Reg It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}

body {
    -webkit-font-smoothing: antialiased;
    background: #262626 url('../img/london.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

a {
  text-decoration: none;
  color: white
}

.landing {
    font-family: 'Source Sans Pro',sans-serif;
    width: 600px;
    height: 100%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.28);
}

.gfont {
    font-family: georgia, serif;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 90px;
    margin-right: 10px;
}

.landing h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.landing a {
    padding: 10px;
    border: 1px solid;
    border-color: white;
    font-size: 14px;
    margin-right: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    /*-moz-transition: all .35s ease;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease*/
}

.landing a:hover, a:focus, a:active {
    background: #FFF;
    color: #262626;
}

.landing p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.landing ul.nav {
    margin-top: 30px;
    margin-bottom: 30px;
    list-style: none;
}

.landing ul.nav li {
    display: inline-block;
}

.footer {
    margin-top: 100px;
    width: 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 12px;
    letter-spacing: 2px; 
}

.footer a {
    border-bottom: white 1px solid;
}

@media only screen and (max-width: 992px) {
  
  body {
     background-image: url('../img/london-square.jpg')
  }

  .landing {
    font-size: 14px;
    width: 400px;
    height: 100%;
    margin: 0 auto;
  }

  .gfont {
    font-size: 60px;
  }

  .landing h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  
  .landing a {
    font-size: 8px;
    margin-right: 5px;
    letter-spacing: 2px;
  }

  .footer {
    width: 400px;
    font-size: 8px;
  }

}

@media only screen and (max-width: 640px) {
    
    .landing ul {
        width: 180px;
        margin: 0 auto;
    }

    .landing ul.nav li {
        display: inherit;
        margin-bottom: 20px;
    }

    .landing a {
        width: 150px;
        min-width: 150px;
        display: block;
    }
}
